.kpi-chart {
    width: 100%;
    padding-bottom: 8px;
    display: flex;
    flex-flow: column;

    .kpi-chart-header {
        padding: 8px 0px 4px 4px;
        background-color: #212529;

        h4 { color: white !important }
        .kpi-chart-icon:hover {
            color: #808080;
            cursor: pointer;
        }
        .kpi-chart-icon-not-active {
            color: white !important;
            cursor: default !important;
            box-shadow: 0 0 0 0.2rem #808080;
            background-color: #808080;
        }

    }
    .kpi-chart-container {
        flex: 1 1 auto;
        height: 200px;

        .kpi-chart-canvas {
            display: block;
            width: 100%; 
            height: 100%;
        }
    }
}
.kpi-chart-full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;    
    width: 100%;
    height: 100%;
    background-color: white;

    .kpi-chart-container {
        height: 100% !important;
    }
}
// special for popup dialog
.kpi-chart-dialog {
    .kpi-chart:not(.kpi-chart-full-screen) {
        .kpi-chart-container {
            height: 100% !important;
        }
    }
}
