[options]
admin_passwd = password
limit_request = 81920000
limit_time_cpu = 6000
limit_time_real = 12000000
addons_path = /mnt/extra-addons/custom-addons, /mnt/extra-addons/enterprise-addons
default_productivity_apps = True
proxy_mode = True
# db_name = fundi_app
# db_filter = ^fundi_app^
db_port = 5432
db_host = db
db_user = odoo
db_password = odoo
smtp_server = mailpit
smtp_port = 1025
smtp_user =
smtp_password =
smtp_ssl = False

# Default sender for outgoing mail (dev only)
email_from = dev@odoo-webcop.local
mail.catchall.domain = odoo-webcop.local
mail.default.from = dev